/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    padding: 90px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #333;
    margin: 0;
}

.filters {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.filters button {
    padding: 10px 20px;
    margin: 5px; /* Changed margin to 5px */
    border: none;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    height: 40px; /* Added height property */
}

.filters button:hover {
    background: #0056b3;
}

.filters button.active {
    background: #0056b3;
}

#taskForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#taskForm input,
#taskForm button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px; /* Added margin-bottom */
    height: 40px; /* Added height property */
}

#taskForm input:focus,
#taskForm button:focus {
    outline: none;
    border-color: #007bff;
}

#taskForm button {
    background: #112bc1;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

#taskForm button:hover {
    background: #cf3e21;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
}

.task:hover {
    background: #f8f9fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.task.completed {
    text-decoration: line-through;
    background: #e9ecef;
    color: #6c757d;
}

.task.completed:hover {
    background: #e9ecef;
    box-shadow: none;
}

.task span {
    flex-grow: 1;
    padding-right: 10px;
}

.task button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    transition: color 0.3s;
}

.task button.complete {
    color: #28a745;
}

.task button.complete:hover {
    color: #218838;
}

.task button.edit {
    color: #ffc107;
}

.task button.edit:hover {
    color: #e0a800;
}

.task button.delete {
    color: #dc3545;
}

.task button.delete:hover {
    color: #c82333;
}
