.flex-container{
    display: flex;
    background-color: rebeccapurple;
    /* flex-direction: column; */
    /*column reverse row row-reverse*/
}
.flex-container>div {
    background-color: floralwhite;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}