/* .flex-container{
    display: flex;
    background-color: rebeccapurple; */
    /* flex-direction: column; */
    /*column reverse row row-reverse*/
/* } */


/* .flex-container{
    display: flex;
    background-color: rebeccapurple;
    flex-direction: column; */
    /*column reverse row row-reverse*/

/* } */

/* .flex-container{
    display: flex;
    background-color: rebeccapurple;
    flex-direction: column; */
    /*column reverse row row-reverse*/
    /* flex-wrap: wrap; */
    /*nowrap wrap reverse */

/* } */

/* .flex-container{
    display: flex;
    background-color: rebeccapurple;
    flex-direction: column; */
    /*column reverse row row-reverse*/
    /* flex-wrap: wrap; */
    /*nowrap wrap reverse */
    /* justify-content: center; */
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between; */

/* } */

/* .flex-container{ */
    /* display: flex; */
    /* background-color: rebeccapurple; */
    /* flex-direction: row; */
    /*column reverse row row-reverse*/
    /* flex-wrap: wrap; */
    /*wrap wrap reverse */
    /* height: 500px; */
    /* align-content: space-between; */
    /*stretch (default) space-around center flex-start flex-end */
/* } */


.flex-container{
    display: flex;
    background-color: rebeccapurple;
    flex-direction: row;
    /*column reverse row row-reverse*/
    flex-wrap: wrap;
    /*wrap wrap reverse */
    align-items: center;
    /*flex-start flex-end stretch (default) baseline */
    justify-content: center;
    height: 500px;
}


.flex-container>div {
    background-color: floralwhite;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}