.container {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.bouncing-ball {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #f39c12;
    border-radius: 50%;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 100%;
    }
}
