.pulsating-circle {
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    border-radius: 50%;
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
